<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My Suite">

    <test name="org.fis.sandbox.MyFeatureTest1 Test execution">
        <classes>
            <class name="org.fis.sandbox.MyFeatureTest1"/>
        </classes>
    </test>

    <test name="org.fis.sandbox.MyFeatureTest2 Test execution">
        <classes>
            <class name="org.fis.sandbox.MyFeatureTest2"/>
        </classes>
    </test>

</suite>